mbstat/kirovstat/__pycache__/__init__.cpython-313.pyc
mbstat/kirovstat/__pycache__/__init__.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0001_initial.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0003_alter_teams_t_aka.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0003_alter_teams_t_aka.cpython-313.pyc
mbstat/kirovstat/__pycache__/__init__.cpython-313.pyc
mbstat/kirovstat/__pycache__/admin.cpython-313.pyc
mbstat/kirovstat/__pycache__/apps.cpython-313.pyc
mbstat/kirovstat/__pycache__/defs_1.cpython-313.pyc
mbstat/kirovstat/__pycache__/defs_2.cpython-313.pyc
mbstat/kirovstat/__pycache__/models.cpython-313.pyc
mbstat/kirovstat/__pycache__/urls.cpython-313.pyc
mbstat/kirovstat/__pycache__/views2.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/__init__.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0001_initial.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0001_squashed_0011_alter_games_options.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0002_teams.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0003_alter_teams_t_aka.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0004_alter_teams_t_foto.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0005_alter_teams_t_foto_alter_teams_t_page.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0006_games.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0007_gmdata.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0008_alter_games_options_alter_gmdata_options_and_more.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0009_alter_game_type_options.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0010_alter_game_type_type_name_alter_games_g_date_and_more.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0011_alter_games_options.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0012_alter_gmdata_gd_set1_alter_gmdata_gd_set10_and_more.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0013_games_g_teams.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0014_alter_games_g_teams.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0015_alter_games_g_name_alter_games_g_sets_and_more.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0016_weekr.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0017_alter_weekr_week_points_summ_and_more.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0018_rename_week_points_сlass_weekr_week_points_class_and_more.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0019_alter_weekr_week_rating_class_and_more.cpython-313.pyc
mbstat/kirovstat/migrations/__pycache__/0020_alter_weekr_week_rating_class_and_more.cpython-313.pyc
mbstat/mbstat/__pycache__/__init__.cpython-313.pyc
mbstat/mbstat/__pycache__/urls.cpython-313.pyc
mbstat/mbstat/__pycache__/wsgi.cpython-313.pyc
