{% extends 'base.html' %}
{% block content %}

<br>

Игра - {{ gl }} <br>

{% for i in dl %}
 
   {{i}} <br>

{%endfor%}


_______________________<br>
Добавить команду  <a class="related-widget-wrapper-link add-related" id="add_id_gd_team" data-popup="yes" href="/admin/kirovstat/teams/add/?_popup=1" target="_self" title="Добавить ещё один объект типа " Команда""=""><img src="/static/admin/img/icon-addlink.svg"  alt="Добавить"></a><br>
Добавить игру  <a class="related-widget-wrapper-link add-related" id="add_id_gd_team" data-popup="yes" href="/admin/kirovstat/games/add/?_popup=1" target="_self" title="Добавить ещё один объект типа " Игра""=""><img src="/static/admin/img/icon-addlink.svg"  alt="Добавить"></a><br>

_______________________<br>
<h4>Внести данные</h4>


<a href="/kirovstat/load_game/?add_yes=add_yes" target="_self"><button input type="submit" >Внести</button>





{% endblock %}