{% extends 'base.html' %}
{% block content %}

<body>

  <div><h3>Рейтинг команд</h3></div>
  <div></div>Рейтинг подсчитывается по системе подсчета очков  FIA (Formula 1). 
  Учитываются баллы команды за каждую игру 10 первых мест по схеме  1 место - 25 очков, 2е - 18, 3e - 15,
  4е  - 12, 5е - 10, 6е - 8, 7е -6, 8е - 4,9е - 2, 10е-1.  
  На каждую неделю (воскресенье) учитывается сумма данных очков за предыдущие 26 недель (пол-года)</div>
  <p><h4>Общий рейтинг<h4>
    <img src="data:image/png;base64,{{ graph_summ }}" alt="" >
  <p><h4>Рейтинг за классику<h4>
    <p><img src="data:image/png;base64,{{ graph_class }}" alt="" >
  <p><h4>Рейтинг за музыку<h4>
    <p><img src="data:image/png;base64,{{ graph_tuz }}" alt="" >

 <p> <button type="button" class="btn btn-dark" onclick="window.history.back(); return true;">Назад</button>
</body>




{% endblock %}